.lab-color-pink{
    color: #d459f6;
}

.slider-image-text {
    text-shadow: -1px 0 #481e52, 0 1px #481e52, 1px 0 #481e52, 0 -1px #481e52;
}

.team-intro-text {
    line-height: 15px !important;
    font-size: 10px !important;
}

.partner-imgs img {
    width: 100%;
}

.my-hover:hover {
    cursor: pointer;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}