<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Creativity Labs</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" href="img/logo.png" sizes="32x32" />
        <link rel="icon" href="img/logo.png" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="img/logo.png" />
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/template-style.css">
        <link rel="stylesheet" href="css/my.css">
        <link rel="stylesheet" href="libs/lightbox2/css/lightbox.min.css">
        <link rel="stylesheet" href="libs/swiper/css/swiper.min.css">
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vue.js"></script>
        <script src="libs/slick/slick.min.js"></script>
        <script src="libs/lightbox2/js/lightbox.min.js"></script>
        <script src="libs/swiper/js/swiper.min.js"></script>
    </head>

    <body>
        <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#top">Projects</a></li>
                        <li><a href="#research">Research</a></li>
                        <li><a href="#news">News</a></li>
                        <li><a href="#pubs">Publications</a></li>
                        <li><a href="#design">Designs</a></li>
                        <li><a href="#team">The Team</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#" id="link_top">Creativity<em>Labs</em></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="#research">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Research
                        </a>
                    </li>
                    <li>
                        <a href="#news">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            News
                        </a>
                    </li>
                    <li>
                        <a href="#pubs">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Publications
                        </a>
                    </li>
                    <li>
                        <a href="#design">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Designs
                        </a>
                    </li>
                    <li>
                        <a href="#team">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            The Team
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Contact Us
                        </a>
                    </li>
                </ul>
            </nav>
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
        </div>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <div class="item item-1">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                            <div>
                                <h1 class="slider-image-text">ReCrafting Math</h1>
                                <p class="slider-image-text">Sentra is free Bootstrap CSS Template by templatemo website.<br>
                                    Please share our site link to your friends.</p>
                                <div class="white-button button">
                                    <a id="goTopProject1" href="#research">Craft More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                            <div>
                                <h1 class="slider-image-text">BioSim</h1>
                                <p class="slider-image-text">Support templatemo by sharing a link to your friends.
                                    <br>Thank you for helping us.</p>

                                <div class="white-button button">
                                    <a id="goTopProject2" href="#research">Play More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                            <div>
                                <h1 class="slider-image-text">AISL: Narratives</h1>
                                <p class="slider-image-text">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices <br>posuere cubilia Curae; Sed at massa turpis.</p>

                                <div class="white-button button">
                                    <a href="#featured">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content" id="app">
            <section id="research" class="content-section">
                <div class="section-heading">
                    <h1>Research<br><em>Portfolios</em></h1>
                    <p>We design and research new technologies to promote creative learning in youth communities.</p>
                </div>
                <div class="section-content">
                    <ul class="tabs clearfix">
                        <li><a v-bind:class="{ active: researchTabs[0] }" v-on:click="clickResearchTab(0, false)">Research Strand 1</a></li>
                        <li><a v-bind:class="{ active: researchTabs[1] }" v-on:click="clickResearchTab(1, false)">Research Strand 2</a></li>
                        <li><a v-bind:class="{ active: researchTabs[2] }" v-on:click="clickResearchTab(2, false)">Research Strand 3</a></li>
                        <li><a v-bind:class="{ active: researchTabs[3] }" v-on:click="clickResearchTab(3, false)">Research Strand 4</a></li>
                    </ul>
                    <section class="tabgroup">
                        <div v-if="researchTabs[0]">
                            <ul>
                                <li>
                                    <div class="item">
                                        <img src="img/project_icon_rcm.png" alt="">
                                        <div class="text-content">
                                            <h4>Re-Crafting Mathematics Education</h4>
                                            <span><a href="https://sites.uci.edu/rcmath/" target="_blank">sites.uci.edu/rcmath</a></span>
                                            <p>This collaborative project, titled "Re-Crafting Mathematics Education: Designing Tangible Manipulatives Rooted in Traditional Female Crafts," is based on our prior work studying design, mathematics, and traditional female crafts, particularly when integrated with electronics in what we call "e-textiles."...</p>

                                            <div class="accent-button button">
                                                <a href="#contact">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li v-if="!showOneProject[0]">
                                    <div class="item">
                                        <img src="img/project_icon_scratch.png" alt="">
                                        <div class="text-content">
                                            <h4>Cras commodo odio ut</h4>
                                            <span>16 July 2018 {{showOneProject[0]}}</span>
                                            <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                            <div class="accent-button button">
                                                <a href="#contact">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div v-if="researchTabs[1]">
                            <ul>
                                <li>
                                    <div class="item">
                                        <img src="img/blog_3.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Sed at massa turpis</h4>
                                            <span>30 June 2018</span>
                                            <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                            <div class="accent-button button">
                                                <a href="#contact">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div v-if="researchTabs[2]">
                            <ul>
                                <li>
                                    <div class="item">
                                        <img src="img/blog_2.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Cras commodo odio ut</h4>
                                            <span>26 May 2018</span>
                                            <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                            <div class="accent-button button">
                                                <a href="#contact">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <img src="img/blog_1.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Lorem ipsum dolor sit</h4>
                                            <span>22 May 2018</span>
                                            <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                            <div class="accent-button button">
                                                <a href="#contact">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <img src="img/blog_3.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Integer ultrices augue</h4>
                                            <span>8 May 2018</span>
                                            <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                            <div class="accent-button button">
                                                <a href="#contact">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div v-if="researchTabs[3]">
                            <ul>
                                <li>
                                    <div class="item">
                                        <img src="img/project_icon_biosim.png" alt="">
                                        <div class="text-content">
                                            <h4>BioSim</h4>
                                            <span>26 April 2018</span>
                                            <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                            <div class="accent-button button">
                                                <a href="#contact">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li v-if="!showOneProject[3]">
                                    <div class="item">
                                        <img src="img/blog_3.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Integer ultrices augue eu</h4>
                                            <span>24 April 2018</span>
                                            <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                            <div class="accent-button button">
                                                <a href="#contact">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li v-if="!showOneProject[3]">
                                    <div class="item">
                                        <img src="img/blog_2.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Cras commodo odio ut</h4>
                                            <span>20 April 2018</span>
                                            <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                            <div class="accent-button button">
                                                <a href="#contact">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </section>

            <section id="news" class="content-section">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-heading">
                                        <h1><em>Anna Keune</em> speaks at the 2019 School of Education Graduate Ceremony!</h1>
                                        <p>May 2019</p>
                                    </div>
                                    <div class="text-content">
                                        <p>Curiosity and Wonder: Anna Keune speaks at the 2019 School of Education Graduate Ceremony!</p>
                                    </div>
                                    <button class="my-button" v-on:click="nextNews">More News</button>
                                </div>
                                <div class="col-md-12">
                                    <img src="img/news_ak_gradspeech19.png" class="box-video"/>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-heading">
                                        <h1><em>BioSim</em> successfully end with <em>AntSim</em>!</h1>
                                        <p>Oct 2017</p>
                                    </div>
                                    <div class="text-content">
                                        <p>In eget ipsum sed lorem vehicula luctus. Curabitur non dolor rhoncus, hendrerit justo sit amet, vestibulum turpis. Pellentesque id auctor tellus, vel ultricies augue. Duis condimentum aliquet blandit. Fusce rhoncus et eros ut pharetra. Phasellus convallis ultricies ligula ac gravida.</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <video controls class="box-video news-videos">
                                        <source src="videos/antsim.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>

            <section id="pubs" class="content-section">
                <div class="section-heading">
                    <h1>Publications &<br><em>Awards</em></h1>
                    <p>The members of the Creativity Labs team have collaborated
                        <br>and contributed to more than 100 publications since 2008.</p>
                </div>
                <div class="pubs-section-content">
                    <div v-for="yearGroup in publications">
                        <div class="pubs-paper-year">{{yearGroup.year}}</div>
                        <ul class="pubs-paper-list">
                            <li v-for="paper in yearGroup.list">
                                <strong v-for="author in paper.authors">{{author}},</strong>
                                <a v-bind:href="paper.file" target="_blank">"{{paper.title}}"</a><span>.</span>
                                <span>{{paper.otherText}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section id="design" class="content-section">
                <div class="section-heading">
                    <h1>Designs &<br><em>Arts</em></h1>
                    <p>Praesent pellentesque efficitur magna,
                        <br>sed pellentesque neque malesuada vitae.</p>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <div class="item">
                                <div class="col-md-8">
                                    <a href="img/portfolio_big_1.jpg" data-lightbox="image"><img src="img/portfolio_1.jpg" alt="image 1"></a>
                                </div>
                            </div>
                            <div class="item second-item">
                                <div class="col-md-4">
                                    <a href="img/portfolio_big_2.jpg" data-lightbox="image"><img src="img/portfolio_2.jpg" alt="image 2"></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-4">
                                    <a href="img/portfolio_big_3.jpg" data-lightbox="image"><img src="img/portfolio_3.jpg" alt="image 3"></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-4">
                                    <a href="img/portfolio_big_4.jpg" data-lightbox="image"><img src="img/portfolio_4.jpg" alt="image 4"></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-8">
                                    <a href="img/portfolio_big_5.jpg" data-lightbox="image"><img src="img/portfolio_5.jpg" alt="image 5"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="team" class="content-section">
                <div class="section-heading">
                    <h1>Meet<br><em>The Team</em></h1>
                    <p>The Creativity Labs team includes learning scientists,<br>educators, artists, designers, and programmers</p>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="img/team_kp.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <p class="team-intro-text">Kylie is an Associate Professor in Informatics and Education at University of California, Irvine and Director of the Creativity Labs. An artist by training, she engages in research that focuses on the intersection of arts, media, new technologies, and informal learning.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Dr. Kylie A. Peppler</h5>
                                <span>Lab Director</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="img/test.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <p class="team-intro-text">Janis is a 20-year veteran schoolteacher, an education writer, and a curriculum designer. Her interests lie in designing and facilitating the creation of innovative online, digital, and game-based learning experiences.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Janis Watson</h5>
                                <span>Curriculum Specialist</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="img/team_sh.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <p class="team-intro-text">Shenshen is currently working as system/software specialist at Creativity Labs. His recent interest mainly lies on exploring the sense of the next generation Internet Computing. He is an enthusiast of computer networks and pervasive computing.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Shenshen Han</h5>
                                <span>System Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="contact" class="content-section">
                <div id="map">

                    <!-- How to change your own map point
                       1. Go to Google Maps
                       2. Click on your location point
                       3. Click "Share" and choose "Embed map" tab
                       4. Copy only URL and paste it within the src="" field below
                    -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1197183.8373802372!2d-1.9415093691103689!3d6.781986417238027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb96f349e85efd%3A0xb8d1e0b88af1f0f5!2sKumasi+Central+Market!5e0!3m2!1sen!2sth!4v1532967884907" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div id="contact-content">
                    <div class="section-heading">
                        <h1>Contact<br><em>Sentra</em></h1>
                        <p>Curabitur hendrerit mauris mollis ipsum vulputate rutrum.
                            <br>Phasellus luctus odio eget dui imperdiet.</p>

                    </div>
                    <div class="section-content">
                        <form id="contact" action="#" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset>
                                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset>
                                        <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section class="footer">
                <p>Copyright &copy; 2019 Creativity Labs . Design: Shenshen Han</p>
            </section>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>
